@import './base.css';

body {
  background: #ddd;
  color: white;
  transition: background 3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body.green {
  background: green;
}
body.yellow {
  background: #cc0;
}
body.orange {
  background: orange;
}
body.red {
  background: red;
}
